# Files and directories created by pub
.dart_tool/
.packages

# Conventional directory for build outputs
build/

# Directory created by dartdoc
doc/api/

# IDE nonsense
*.swp
*~
.idea/

/uhoh-*

.DS_Store
test-token.sh
scratch/
token.sh
